@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

.mainContent {
    clip-path: polygon(100% 0%, 0% 0%, 0.00% 95.50%, 1.82% 94.81%, 3.64% 94.10%, 5.45% 93.37%, 7.27% 92.65%, 9.09% 91.94%, 10.91% 91.24%, 12.73% 90.58%, 14.55% 89.94%, 16.36% 89.36%, 18.18% 88.82%, 20.00% 88.34%, 21.82% 87.93%, 23.64% 87.59%, 25.45% 87.32%, 27.27% 87.13%, 29.09% 87.03%, 30.91% 87.00%, 32.73% 87.06%, 34.55% 87.20%, 36.36% 87.42%, 38.18% 87.71%, 40.00% 88.08%, 41.82% 88.52%, 43.64% 89.02%, 45.45% 89.58%, 47.27% 90.18%, 49.09% 90.83%, 50.91% 91.51%, 52.73% 92.21%, 54.55% 92.93%, 56.36% 93.65%, 58.18% 94.37%, 60.00% 95.08%, 61.82% 95.76%, 63.64% 96.41%, 65.45% 97.02%, 67.27% 97.59%, 69.09% 98.09%, 70.91% 98.54%, 72.73% 98.92%, 74.55% 99.22%, 76.36% 99.45%, 78.18% 99.60%, 80.00% 99.66%, 81.82% 99.65%, 83.64% 99.55%, 85.45% 99.37%, 87.27% 99.11%, 89.09% 98.78%, 90.91% 98.37%, 92.73% 97.90%, 94.55% 97.37%, 96.36% 96.79%, 98.18% 96.16%, 100.00% 95.50%);
}

.getStartedButton {
    background-color: rgb(243 164 37);
}

body {
    width: 100%;
    overflow-x: hidden;
}

.homeImage {
    max-height: 630px;
}
