.nav-link {
    color: #F3A425 !important;
    font-size: 18px !important;
    padding: 20px !important;
    font-weight: bold !important;
}

.nav-link:hover {
    color: #ffc107 !important;
    transform: scale(1.2);
    transition: all .5s ease-in-out;
}
